@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sriracha&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Aclonica&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cinzel&display=swap");
.brand h3 {
  font-family: "Kaushan Script", cursive;
  letter-spacing: 0.5px;
  text-shadow: 1px 1px 2px rgba(50, 50, 50, 0.5);
}
.brand img {
  filter: contrast(150%);
  filter: drop-shadow(2px 2px 2px #141414);
}
.contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: scroll;
  gap: 0.8rem;
  margin: 1rem 0;
}

.contacts::-webkit-scrollbar {
  width: 0.2rem;
}

.contacts::-webkit-scrollbar-thumb {
  background-color: #ffffff39;
  width: 0.1rem;
  border-radius: 1rem;
}

.contact {
  background-color: #ffffff34;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  min-height: 5rem;
  cursor: pointer;
  width: 90%;
  border-radius: 1rem;
  padding: 0.4rem;
  display: flex;
  gap: 1rem;
  align-items: center;
  transition: 0.5s ease-in-out;
}
.avatar {
  cursor: pointer;
  background-color: transparent;
  border-radius: 50%;
  border: none;
  position: relative;
}
.avatar .logout-tooltip {
  visibility: hidden;
  background-color: #000;
  color: #fff;
  text-align: center;
  padding: 7px;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s;
  font-family: "Kaushan Script", cursive;
}

.avatar:hover .logout-tooltip {
  visibility: visible;
  opacity: 1;
}
.contact .avatar img {
  height: 3rem;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  border: 3px solid white;
  border-radius: 50%;
  margin-left: 5px;
}

.contact .username h3 {
  color: rgb(251, 236, 20);
  text-shadow: 1px 1px 2px rgba(50, 50, 50, 0.5);
  font-family: "Alkatra", cursive;
  font-size: 22px;
  letter-spacing: 1px;
}

.contact.selected {
  background-image: linear-gradient(
    173.1deg,
    rgba(226, 66, 249, 0.94) 10.2%,
    rgba(79, 147, 249, 1) 77.3%
  );
}

.current-user {
  background-color: #0d0d30;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.current-user .avatar img {
  height: 3rem;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  border: 3px solid white;
  border-radius: 50%;
  margin-left: 5px;
  margin-right: 0px;
}

.current-user .username h2 {
  font-family: "Cinzel", serif !important;
  font-size: 20px;
  letter-spacing: 1px;
  color: white;
  margin-left: 0px;
}
@media screen and (min-width: 320px) and (max-width: 720px) {
  .Container {
    display: grid;
    grid-template-rows: 15% 70% 10%;
    overflow: hidden;
    background-image: radial-gradient(
      circle farthest-corner at 10% 20%,
      rgba(100, 43, 115, 1) 100%
    );
  }
  .brand {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0rem !important;
    justify-content: start;
    position: relative;
    right: 5px;
  }
  .brand h3 {
    font-size: 12px;
    font-family: "Kaushan Script", cursive;
    letter-spacing: 0.5px;
    text-shadow: 1px 1px 2px rgba(50, 50, 50, 0.5);
  }

  .brand img {
    margin-top: 10px;
    height: 1.8rem !important;
  }
  .contact {
    min-height: 6rem;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 2px;
  }
  .contact .avatar img {
    height: 2.5rem;
    border: 2px solid white;
    margin-left: 1px;
  }
  .contact .username h3 {
    font-family: "Aclonica", sans-serif;
    font-size: 10px;
    letter-spacing: 1px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .current-user {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.4rem;
  }
  .current-user .avatar img {
    height: 1.5rem;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    border: 1px solid white;
    border-radius: 50%;
    margin-left: 2px;
    margin-right: 0px;
  }
  .current-user .username h2 {
    font-size: 0.4rem;
  }
}
@media screen and (min-width: 720px) and (max-width: 1080px) {
  .current-user {
    gap: 0.5rem;
  }

  .current-user .username h2 {
    font-size: 1rem;
  }
}
